html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav{
  margin-bottom: 0 !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.carousel{
   position: absolute;
   line-height:0;
   left:0;
   top:0;
   min-width:30px;
   min-height: 150px;
}

.carousel-inner{
   width: inherit;
}

.carousel-inner > .item > a > img {
    min-width: 30px;
    min-height: 150px;
    margin: auto;
    }

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 400px;
}

li:last-child {
  float:right ;
}

/* Footer CSS */

#myFooter .second-bar .logo a{
    color: none;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #090a0c;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: #cd486b;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}


/* Galeria de fotos de galeria.html*/
.portfolio .thumbnail {
    position: relative;
}

.portfolio .thumbnail:hover {
    cursor: pointer;
}

.portfolio .caption {
    bottom: 0;
    position: absolute;
}

.portfolio .btn {
    opacity: 0.75;
}

/* Galeria de fotos de productos.html */

/* add a little bottom space under the images */

@media (max-width: 767px) {
    .portfolio>.clear:nth-child(6n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .portfolio>.clear:nth-child(8n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 1200px) {
    .portfolio>.clear:nth-child(12n)::before {
      content: '';
      display: table;
      clear: both;
    }
}

/* carousel de index */
