.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 80%;
    margin: auto;
}

.carousel{
   position: absolute;
   line-height:1;
   left:0;
   min-width:100%;
   min-height: 500px;
}

.carousel-inner{
   width: inherit;
}

.carousel-inner > .item > img{
   min-width: 100%;
}

.nav{
  margin-bottom: 0 !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 400px;
}

.btn-color{
  color:#FFF;
  background-color: #333333;
}

.btn-color:hover{
  color:#FFF;
  background-color: #000;
}

li:last-child {
  float:right ;
}

CSS

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
