.nav{
  margin-bottom: 0 !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.carousel{
   position: absolute;
   line-height:0;
   left:0;
   top:0;
   min-width:100%;
   min-height: 500px;
}

.carousel-inner{
   width: inherit;
}

.carousel-inner > .item > a > img {
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    }

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 400px;
}

.btn-color{
  color:#FFF;
  background-color: #333333;
}

.btn-color:hover{
  color:#FFF;
  background-color: #000;
}

li:last-child {
  float:right ;
}

CSS

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:8px;}
